<div id="dashboard-home">
  <div class="widgets-container">
    <div class="widget widget-one widget-l-blue">
      <i class="fa fa-tachometer fa-2x"></i>
      <p class="widget-header">Dashboard</p>
    </div>
    <div class="widget widget-two widget-green">
      <i class="fa fa-bar-chart fa-2x"></i>
      <p class="widget-header">Charts</p>
    </div>
    <div class="widget widget-one widget-yellow">
      <i class="fa fa-inbox fa-2x"></i>
      <p class="widget-header">Widgets</p>
    </div>
    <div class="widget widget-one widget-orange">
      <i class="fa fa-table fa-2x"></i>
      <p class="widget-header">Tables</p>
    </div>
    <div class="widget widget-one widget-blue">
      <i class="fa fa-arrows-alt fa-2x"></i>
      <p class="widget-header">Full width</p>
    </div>
    <div class="widget widget-two widget-orange">
      <i class="fa fa-th-list fa-2x"></i>
      <p class="widget-header">Forms</p>
    </div>
    <div class="widget widget-one widget-blue">
      <i class="fa fa-tint fa-2x"></i>
      <p class="widget-header">Buttons</p>
    </div>
    <div class="widget widget-one widget-l-blue">
      <i class="fa fa-pencil fa-2x"></i>
      <p class="widget-header">Elements</p>
    </div>
    <div class="widget widget-one widget-green">
      <i class="fa fa-calendar fa-2x"></i>
      <p class="widget-header">Calendar</p>
    </div>
    <div class="widget widget-one widget-red">
      <i class="fa fa-info-circle fa-2x"></i>
      <p class="widget-header">Error</p>
    </div>
  </div>
</div>
