@import '../../../../styles/sass/main';

.main-container {
  padding: 15px 5px;
}

.widgets-container {
  display: flex;
  flex-wrap: wrap;
}

.widget {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  transition: 0.3s ease all;
  &:hover {
    background: $primary-background-blue;
  }
}

.widget-one {
  width: 15.583%;
  margin: 0 0 10px 10px;
}

.widget-two {
  width: 31.166%;
  margin: 0 0 10px 10px;
}

.widget-blue {
  background: #2255a4;
}

.widget-green {
  background: #28b779;
}

.widget-yellow {
  background: $primary-yellow;
}

.widget-orange {
  background: #da542e;
}

.widget-l-blue {
  background: $primary-navbar-blue;
}

.widget-red {
  background: #f74d4d;
}
