<div class="main-container">
  <div class="navbar">
    <div class="logo-container">
      <img class="logo" src="/assets/images/logo.png">
    </div>
    <ul class="top-level-nav" [ngStyle]="navbarStyle()">
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
          <i class="fa fa-bars" (click)="toggleNavbarVisible()"></i>
        </div>
      </div>
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
        </div>
      </div>
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
        </div>
      </div>
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
        </div>
      </div>
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
        </div>
      </div>
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
        </div>
      </div>
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
        </div>
      </div>
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
        </div>
      </div>
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
        </div>
      </div>
      <div class="top-level-item">
        <div class="item-content">
          <i class="fa fa-home"></i>
          <p class="item-header">Dashboard</p>
        </div>
      </div>
    </ul>
  </div>
</div>
