@import '../../../../styles/sass/main';

.main-container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  min-width: 100vw;
}

.navbar-container {
  width: 100%;
  @media(min-width: $screen-m) {
    width: 220px;
  }
}

.notification-bar-container {
  width: 100%;
  @media(min-width: $screen-m) {
    width: calc(100vw - 220px);
  }
}

.output-container {
  width: 100%;
  @media(min-width: $screen-m) {
    width: calc(100vw - 220px);
  }
}
