// colours

$primary-background-blue: #2E363F;
$primary-background-black: #1f262d;
$primary-green: #28B779;
$primary-yellow: #FFB848;
$primary-navbar-blue: #27a9e3;
$primary-navbar-grey: #939da8;
$primary-button-blue: #49afcd;
$primary-button-green: #5bb75b;

// sizes

$screen-xs: 576px;
$screen-s: 768px;
$screen-m: 992px;
$screen-l: 1200px;
